<h1> Department Information</h1>
<h1><%= @department.name %></h1>


<p>What would you like to do?</p>
<%= link_to 'View Store Items', department_store_items_path(@department) %>
<br />
<%= link_to 'Edit Store Items', edit_store_item_path(@department) %>
<br />
<%= link_to 'Delete Department', @department, method: :delete %>
<%= link_to 'Back', departments_path %>